body{
    font-family:cursive ;
    font-size: 25 !important;
    background-position: center;
    background-image:url("giphy.gif") ;
    background-size: cover;
}
.btn-primary:hover{
background-color: burlywood;
}
canvas{
    animation-name: hi;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: solid;
}
@keyframes hi{from{ box-shadow: 1px 1px 39px palegreen;}to{box-shadow: 1px 1px 39px navy;}}